
.test{
    color: red;
}
.col-2 {
    /*padding: .5px;*/
}

.card {
    border: none;

}

.card:hover {
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product__item {
    padding: 15px;
}

.productlist {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.productlist li {
    border-bottom: 1px solid #f3f3f3 !important;
    border-right: 1px solid #f3f3f3 !important;
}

.productlist li a {
    text-decoration: none;
    color: #222;
}

.productlist li a:hover {
    color: #222;
}

.card-body {
    padding: 0;
}

/* header */
.header-top {
    background: #F7CE19;
}

.header-top img {
    /*height: 100%;*/
    /*width: 100%;*/
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.header-body {
    height: 48px;
    background: #009EE1;
    padding: 5px;
}

.btn-outline-fff {
    color: #fff;
    border-color: #fff;
}

.btn-outline-fff ion-icon {
    font-size: 20px;
}

/* FOOTER */
footer {
    border-top: 1px solid #bdbdbd;
    padding: 20px 0 0 0;
}

.footer__items {
    list-style-type: none;
}

.footer__items li {
    padding: 2px 0;
}

.footer__items li a {
    color: #222;
    text-decoration: none;
}

.hot-phone {
    color: #009EE1;
}
.footer-bottom{
    background: #F1F1F1;
}
.footer-bottom p{
    font-size: 12px;
    text-align: center;
    padding: 13px 0;
    margin: 0;
}